/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Gulp configuration that is automatically processed.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';

@import 'variables.less';


@import (inline) '../../vendor/angular-loading-bar/build/loading-bar.css';

body {
  padding-top: 70px;
}

hr {
  &.hr-sm {
    margin-top: @line-height-computed / 2;
    margin-bottom: @line-height-computed / 2;
  }
  &.hr-xs {
    margin-top: @line-height-computed / 4;
    margin-bottom: @line-height-computed / 4;
  }
}

img {
  max-width: 100%;
}

.text-nowrap {
  white-space: nowrap !important;
}

@import '../components/bbRating/bbRating.less';

@import '../app/index/index.less';
