<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.79 26">
    <defs>
        <style>.cls-1 {
            stroke-linecap: round;
            stroke-linejoin: round;
        }</style>
    </defs>
    <title>interesting_default</title>
    <g id="Layer_2" data-name="Layer 2">
        <g id="Navigation">
            <line class="cls-1" x1="0.5" y1="25.5" x2="0.5" y2="0.5"/>
            <rect class="cls-1" x="0.5" y="3.28" width="12.85" height="10.42"/>
            <polyline class="cls-1"
                      points="13.35 6.06 20.29 6.06 17.51 11.26 20.29 16.47 13.35 16.47 9.18 16.47 9.18 14.04"/>
        </g>
    </g>
</svg>