<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.92 24">
    <defs>
        <style>.cls-1 {
            stroke-linecap: round;
            stroke-linejoin: round;
        }</style>
    </defs>
    <title>my_default</title>
    <g id="Layer_2" data-name="Layer 2">
        <g id="Navigation">
            <path class="cls-1"
                  d="M15.43,5.67c0,2.86-2.45,6-5.47,6s-5.47-3.11-5.47-6A5.33,5.33,0,0,1,10,.5,5.33,5.33,0,0,1,15.43,5.67Z"/>
            <path class="cls-1" d="M.5,23.5c0-4.62,4.24-8.36,9.46-8.36s9.46,3.74,9.46,8.36"/>
        </g>
    </g>
</svg>