<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
    <defs>
        <style></style>
    </defs>
    <title>pen</title>
    <g id="Layer_2" data-name="Layer 2">
        <g id="Navigation">
            <line class="cls-1" x1="9.39" y1="2.75" x2="13.25" y2="6.61"/>
            <polyline class="cls-1" points="1.47 10.67 0.5 15.5 5.33 14.53"/>
            <path class="cls-1"
                  d="M15.18,3.14,12.86.82a1.09,1.09,0,0,0-1.55,0L1.47,10.67,4.1,11.9l1.22,2.64,9.85-9.85A1.09,1.09,0,0,0,15.18,3.14Z"/>
        </g>
    </g>
</svg>