<section class="channel-preview-list">
  <section ng-repeat="channel in ::channels" class="channel-preview raiting-{{::channel.rating}}">
    <div class="channel-preview__messages">3</div>
    <div class="channel-preview__avatar">
      <a ui-sref="channel({id: channel.channelld})" class="wrapper-avatar">
        <img ng-src="{{::channel.logotype | trustsrc}}" alt="">
      </a>
    </div>
    <div class="channel-preview__body">
      <div class="channel-preview__name">
        <a ui-sref="channel({id: channel.channelld})" ng-bind="channel.title"></a>
      </div>
      <div class="channel-preview__id">ID: {{::channel.channelld}}</div>
      <div class="channel-preview__text" ng-bind="channel.description"></div>
      <div class="raiting-stars">
        <span class="raiting-star">
          <span class="raiting-star-progress"></span>
          <i class="icon icon-raiting-star" lk-icon="raiting-star"></i>
        </span>
        <span class="raiting-star">
          <span class="raiting-star-progress"></span>
          <i class="icon icon-raiting-star" lk-icon="raiting-star"></i>
        </span>
        <span class="raiting-star">
          <span class="raiting-star-progress"></span>
          <i class="icon icon-raiting-star" lk-icon="raiting-star"></i>
        </span>
        <span class="raiting-star">
          <span class="raiting-star-progress"></span>
          <i class="icon icon-raiting-star" lk-icon="raiting-star"></i>
        </span>
        <span class="raiting-star">
          <span class="raiting-star-progress"></span>
          <i class="icon icon-raiting-star" lk-icon="raiting-star"></i>
        </span>
      </div>
    </div>
    <div class="channel-preview__tool-bar">
      <div class="channel-preview__icons clearfix">
        <span class="channel-preview__icon">
          <i class="icon icon-to-favorites" lk-icon="channel-to-favorites"></i>
          <span class="hidden-tooltip">В избранное</span>
        </span>
        <span class="channel-preview__icon">
          <i class="icon icon-to-assess" lk-icon="channel-to-assess"></i>
          <span class="hidden-tooltip">Оценить</span>
        </span>
        <span class="channel-preview__icon">
          <i class="icon icon-to-remove" lk-icon="channel-to-remove"></i>
          <span class="hidden-tooltip">Удалить</span>
        </span>
      </div>
    </div>
  </section>
</section>
