<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3 translate>Sign up</h3>
    <form name="SignupForm" ng-if="!state.success" novalidate ng-submit="signup(SignupForm)">
      <div class="form-group" ng-class="{'has-error': SignupForm.$submitted && SignupForm.email.$invalid}">
        <label class="control-label"><span translate>Email</span>:</label>
        <input class="form-control input-lg" type="email" name="email" placeholder="{{'Email' | translate}}" required ng-model="user.email">
        <span class="help-block" ng-show="SignupForm.$submitted">
          <span ng-show="SignupForm.email.$error.required" translate>enter email</span>
          <span ng-show="!SignupForm.email.$error.required && SignupForm.email.$invalid" translate>enter valid email</span>
        </span>
      </div>
      <div class="form-group" ng-class="{'has-error': SignupForm.$submitted && SignupForm.password.$invalid}">
        <label class="control-label"><span translate>Password</span>:</label>
        <input class="form-control input-lg" type="password" name="password" placeholder="{{'Password' | translate}}" required ng-model="user.password">
        <span class="help-block" ng-show="SignupForm.$submitted">
          <span ng-show="SignupForm.password.$error.required" translate>enter password</span>
        </span>
      </div>
      <div class="form-group" ng-class="{'has-error': SignupForm.$submitted && SignupForm.password2.$invalid}">
        <label class="control-label"><span translate>Password again</span>:</label>
        <input class="form-control input-lg" type="password" name="password2" placeholder="{{'Password again' | translate}}" required ng-model="user.password2" bb-password="password">
        <span class="help-block" ng-show="SignupForm.$submitted">
          <span ng-show="SignupForm.password2.$error.required" translate>enter password again</span>
          <span ng-show="!SignupForm.password2.$error.required && SignupForm.password2.$error.equal" translate>passwords are not equal</span>
        </span>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-lg btn-block btn-primary" type="submit" translate>Sign up</button>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-lg btn-block btn-default" ui-sref="signin" translate>already sign up?</a>
        </div>
      </div>
    </form>
    <div ng-if="state.success">
      <div class="form-group">
        <span translate>Successfull</span>
      </div>
      <a class="btn btn-lg btn-block btn-primary" ui-sref="signin" translate>Try to sign now</a>
    </div>
  </div>
</div>
