<div class="well">
  <div class="row">
    <div class="col-md-12">
      <div class="form-inline">
        <div class="form-group">
          <label>From date:</label>
          <input type="date" class="form-control" ng-model="filter.dt_fm" uib-datepicker-popup is-open="status.from.opened" ng-click="status.from.opened = !status.from.opened" max-date="filter.dt_to" ng-change="onChangeFilter()">
        </div>
        <div class="form-group">
          <label>to:</label>
          <input type="date" class="form-control" ng-model="filter.dt_to" uib-datepicker-popup is-open="status.to.opened" ng-click="status.to.opened = !status.to.opened" min-date="filter.dt_fm" ng-change="onChangeFilter()">
        </div>
        <div class="checkbox">
          <label><input type="checkbox" ng-model="filter.stk" ng-change="onChangeFilter()">&nbsp;In stock only</label>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-xs">
  <div class="row">
    <div class="col-md-12">
      <div class="form-inline">
        <div class="form-group">
          <label>Price from:</label>
          <input type="number" class="form-control" ng-model="filter.ps_fm" ng-change="onChangeFilter()">
        </div>
        <div class="form-group">
          <label>to:</label>
          <input type="number" class="form-control" ng-model="filter.ps_to" ng-change="onChangeFilter()">
        </div>
        <div class="form-group">
          <label>Color:</label>
          <select class="form-control" ng-model="filter.clr" ng-change="onChangeFilter()">
            <option value="">All</option>
            <option ng-repeat="o in colors" value="{{o.value}}" ng-bind="o.title"></option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="jumbotron" ng-if="!(items | media:mediaFilter).length">
  <h1>Empty list!</h1>
  <p>Try to change filter</p>
</div>
<div ng-if="items.length">
  <div class="media filter-list__item" ng-repeat="o in items | media:mediaFilter" data-itemid="{{o.Id}}">
    <div class="media-left">
      <img class="media-object" ng-src="{{o.Image}}" alt="">
    </div>
    <div class="media-body">
      <div class="row">
        <div class="col-md-4">
          <h4 ng-bind="o.Name"></h4>
        </div>
        <div class="col-md-4">
          <h4 ng-bind="o.IssueDate | date"></h4>
        </div>
        <div class="col-md-4 text-center">
          <h4 ng-bind="o.Price | currency"></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span ng-bind="o.Color | color"></span>
        </div>
        <div class="col-md-4">
          <label><input type="checkbox" disabled ng-model="o.InStock">&nbsp;In stock</label>
        </div>
        <div class="col-md-4 text-center">
          <button class="btn btn-default" type="button" ng-click="toOrder(o)">Order</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <sw-rating value="o.Rating"></sw-rating>
        </div>
      </div>
    </div>
  </div>
</div>