<!DOCTYPE html>
<html ng-app="ngApp" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="index">My app</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-if="$root.Storage.CurrentUser">
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="$root.Storage.UserCart.length"><a href=""><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;(<span ng-bind="$root.Storage.UserCart.length"></span>)</a></li>
            <li><a ui-sref="signout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" ui-view="layout"></div>

    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
